/* flex */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* flex grow */

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fg-3 {
  flex-grow: 3;
}

.fg-4 {
  flex-grow: 4;
}

.fg-5 {
  flex-grow: 5;
}

/* text  */

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.fw-bold {
  font-weight: bold;
}

/* text color */

.tc-white {
  color: white;
}

.tc-black {
  color: black;
}

.tc-paribu {
  color: #A1B13C;
}
/* font size */
.fs-125 {
  font-size: 1.25rem;
}

.fs-135 {
  font-size: 1.35rem;
}

.fs-150 {
  font-size: 1.5rem;
}

.fs-250 {
  font-size: 2.5rem;
}

.fs-300 {
  font-size: 3rem;
}

.fs-400 {
  font-size: 4rem;
}

.fs-700 {
  font-size: 7rem;
}

/* margin top */

.mt-1 {
  margin-top: 1%;
}
.mt-2 {
  margin-top: 2%;
}
.mt-3 {
  margin-top: 3%;
}
.mt-5 {
  margin-top: 5%;
}

/* margin bottom */

.mb-1 {
  margin-bottom: 1%;
}

.mb-2 {
  margin-bottom: 2%;
}

.mb-3 {
  margin-bottom: 3%;
}

.mb-5 {
  margin-bottom: 5%;
}



/* height */

.height-100vh {
  height: 100vh;
}

.height-600px {
  height: 600px;
}

/* width */

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-100 {
  width: 100%;
}

.width-300px {
  width: 300px;
}
